@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button-hover {
    box-shadow: 1px 1px 15px 2px rgba(10, 10, 10, 0.5);
}

.fa-padding {
    padding-top: 4px;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    background: url("https://raw.githubusercontent.com/ShaggyTech/shaggytech.github.io/master/img/r8-snow.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


/* ----- Navigation ----- */

.navbar {
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid #252525;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0 auto;
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #260000 0%, #000000 100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #260000 0%, #000000 100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #260000 0%, #000000 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #260000), color-stop(100, #000000));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #260000 0%, #000000 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #260000 0%, #000000 100%);
}

.affix {
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 650px) {
    .affix {
        animation: fadeIn 0.5s ease-in;
        -webkit-animation: fadeIn 0.85s;
    }
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
    border-radius: 1px;
}

@media (max-width: 650px) {
    #logo {
        display: none;
    }
}

#container-top-left {
    float: left;
}

#logo {
    float: left;
}

#info {
    float: right;
    padding-left: 20px;
    font-family: 'Audiowide', cursive;
}

#name {
    font-size: 25px;
    margin: -7px;
    color: #FFF;
}

#title {
    font-size: 18px;
    color: #FFF;
}

#navButtons {
    float: right;
    font-size: 18px;
}

@media (max-width: 768px) {
    #navButtons {
        float: none;
        clear: left;
        text-align: left;
    }
}

.nav > li {
    display: inline;
}

.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
    color: white;
    background: rgba(255, 255, 255, 0.0);
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus {
    color: black;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
}


/* ----- Introduction ----- */

#home {
    color: white;
    padding-top: 100px;
    margin: 0 auto;
    padding-bottom: 400px;
}

.intro-about {
    display: inline-block;
    background: rgba(0, 0, 0, 0.90);
    padding: 20px;
    font-family: 'Arvo', serif;
    border-radius: 20px 20px 0px 0px;
}

.welcome {
    font-size: 48px;
    text-shadow: 1px 1px 1px #FFF;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
}

.intro-divider {
    border-top: 5px solid #B20000;
    border-bottom: 25px solid rgba(0, 0, 0, 0.0);
    border-radius: 50%;
}

.aboutMe {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}

.signature {
    float: right;
    padding-top: 30px;
    padding-right: 75px;
    font-size: 30px;
    font-family: 'Grand Hotel', cursive;
}


/* ----- Home contact buttons ----- */

.intro-social-media {
    background: rgba(255, 255, 255, 1);
    border-bottom: 5px solid black;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}

.intro-social-buttons > li {
    display: inline;
    padding: 30px;
    list-style: none;
}

.intro-social-buttons > li > a,
.intro-social-buttons > li > a:hover,
.intro-social-buttons > li > a:focus {
    padding-top: 20px;
    background: transparent;
    border: none;
    color: #B20000;
}

@media (max-width: 650px) {
    .intro-social-buttons > li,
    .intro-social-buttons > li > a,
    .intro-social-buttons > li > a:hover,
    .intro-social-buttons > li > a:focus {
        padding: 1px;
    }
}

.intro-social-buttons span {
    border-radius: 20%;
}


/* ----- Projects Container ----- */

#projects {
    background: rgba(255, 255, 255, 0.80);
    padding-top: 150px;
    padding-bottom: 150px;
}


/* ----- Individual Projects ----- */

.project-container {
    font-family: 'Audiowide', cursive;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 3em;
    border-top: solid #B20000;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 15px 2px rgba(138, 135, 138, 0.9);
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BABABA 100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BABABA 100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BABABA 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #BABABA));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #BABABA 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #BABABA 100%);
}

.info-box {
    display: inline-block;
}

.project-divider {
    border-top: 5px solid black;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.project-name {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 900;
}

.project-buttons {
    padding-bottom: 20px;
}

.disabled-project {
    pointer-events: none;
    opacity: 0.5;
}

.project-buttons > div > a {
    color: black;
    background-color: transparent;
    border: 0px;
}

.project-buttons > div > a:hover,
.project-buttons > div > a:focus {
    border: 0px solid white;
    border-radius: 30%;
    background-color: light-gray;
    color: black;
}

.project-buttons i {
    padding-top: 0;
    color: #B20000
}

.project-buttons p {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.project-thumbnail > a > img {
    border: 3px solid white;
    border-radius: 10px;
}

.project-thumbnail > a > img:hover,
.project-thumbnail > a > img:focus {
    border: 3px solid black;
}

@media (max-width: 650px) {
    .project-thumbnail > a > img {
        height: 75%;
        width: 75%;
    }
}

.project-tech > p {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #B20000;
    border: 1px solid #252525;
    border-radius: 5px;
    float: left;
    padding: 6px;
    margin: 2px;
}

@media (max-width: 650px) {
    .project-tech > p {
        font-size: 10px;
    }
}

.project-description {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    padding: 20px;
}

.project-description a {
}

.project-description a:hover {
    text-decoration: none;
    text-shadow: 0 0 1px #999;
}

/* ----- Footer / Contact ----- */

#footer {
    padding: 100px;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

@media (max-width: 650px) {
    #footer {
        padding: 50px;
    }
}

.footer-container {
    background-color: transparent;
}

.footer-social-buttons > li {
    display: inline-block;
    padding: 0px 30px 0px 30px;
    list-style: none;
}

.footer-social-buttons > li > a,
.footer-social-buttons > li > a:hover,
.footer-social-buttons > li > a:focus {
    background: transparent;
    border: none;
    color: white;
}

@media (max-width: 650px) {
    .footer-social-buttons > li,
    .footer-social-buttons > li > a,
    .footer-social-buttons > li > a:hover,
    .footer-social-buttons > li > a:focus,
    .footer-social-buttons > li > a > p {
        padding: 2px;
    }
}

.footer-divider {
    border-top: 5px solid rgba(125, 125, 125, 0.6);
    border-bottom: 5px solid rgba(125, 125, 125, 0.6);
    border-radius: 50%;
}
